{% extends 'template/app.twig' %}


{% block content %}
<div>

	<h3>Seja bem-vindo ao projeto de aprendizado</h3>
	<p>Venha junto aprender a desenvolver aplicações com o PHP 8</p>
</div>
{% endblock %}